.hero{
    position: relative;
    height:100svh;
    display: flex;
    align-items: center;

    background: linear-gradient(
        to bottom,
        #FDFFCC 0%,
        var(--base-200) 100%
    );
}
.hero__container {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: .375rem;
    padding-top:1.875rem;
    height: min-content;
    max-height:100%;
}
.hero__container > * {
    flex: 1;
}
.hero__content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:8.75rem;
    bottom: 2.25rem;
    width: 100%;
}
.hero__description{
    font-size: clamp(0.875rem, 0.8rem + 1vw, 1.375rem);
    font-weight:200;
    line-height:110%;
    width:75%;
}
.hero__media-wrapper{
    position: relative;
    width:100%;
    max-width:700px;
    max-height:700px;
    aspect-ratio: 1 / 1;
    will-change: transform;
}
.media {
    position: absolute;
    inset: 0;
    z-index: 100;

    overflow: hidden;
    clip-path: inset(18px round 20px);
}

.hero__video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.hero__poster{
    position: absolute;
    inset: 0;
    z-index: 2;
}
@media (max-width:1200px) {
    .hero{height:auto;}
    .hero__content{bottom:0;gap:1rem}
    .hero__container{flex-direction: column;align-items: center;gap: 1rem;}
    .media{clip-path: inset(8px round 20px);}
    .hero__description{width:100%;}
    .hero__media-wrapper{max-width:100%;transform: translateX(-18px);}
}