.vision{
    min-height:100svh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--base-200);
}
.vision__container{
    width:100%;
    padding:0 7.5rem;
    display: flex;
    flex-direction: column;
    gap:3rem;
    max-width:2000px;
    margin:0 auto;
}
.vision__mono{
    margin:0 auto;
}
.vision__cards{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:0 2rem;
}
.vision__card{
    display: flex;
    flex-direction: column;
    gap:1.625rem;
    opacity:0;
    will-change: transform, opacity;
}
.vision__images{
    display: flex;
    justify-content: center;
    gap:3rem;
}
.vision-md{
    font-size: 1rem!important;
    text-align: center;
}
.pill{
    height:75px;
    width:37px;
}
.vision-title{max-width:700px;text-align: center;margin:0 auto;}


.vision__timeline-desk{
    position: relative;
    transform:translateY(-2rem);
    display: flex;
    align-items: center;
}
.vision__timeline-desk .circle{
    width:10px;
    aspect-ratio:1 / 1 ;
    border-radius: 50%;
    background-color: #000;
    scale:0;
    will-change: scale;
    z-index: 2;
}
.vision__timeline-desk .circle-animation{
    position: absolute;
    left:0%;
    will-change: transform;
}
.vision__timeline-desk .dash{
    border-top: 1px dashed #000;
    flex: 1;
    clip-path: inset(0 100% 0 0);
    will-change: clip-path;
    
}

.vision--block{
    height:100svh;
    background-color: var(--base-200);
    transform: translateY(-1px);
}
.vision-block--container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
}
.vision-block--container h2{
    text-align: center;
    max-width: 855px;
}
@media (max-width:1200px) {
    .vision{height:320svh;align-items:flex-start;}
    .vision__container{
        padding:2rem var(--indents);
        position: sticky;
        top: 10%;
    }
    .vision__content {
        display: grid;
        grid-template-columns: 1fr 10px 1fr;
    }

    .vision__cards {
        grid-column: 1 / -1;
        grid-row: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0;
    }

    .vision__card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .vision__images {
        flex: 1;
    }

    .vision-md {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vision__timeline-desk {
        grid-column: 2;
        grid-row: 1;

        align-self: stretch;
        z-index: 1;
        align-items: flex-start;
        transform: none;
    }
    .circle{transform-origin: 50% 0%;}
    .vision__timeline-desk .dash{position: relative;right:50%;transform: translateX(50%);clip-path: none;clip-path: inset(0 0 100% 0);height: 100%;border-left: 1px dashed #000;}
    .vision__cards .vision__card:nth-child(1) .vision__images,
    .vision__cards .vision__card:nth-child(3) .vision__images,
    .vision__cards .vision__card:nth-child(5) .vision__images
    {order: 1;}
}
@media (max-width:800px) {
    .vision__container{gap:2rem;}
    .vision__images{gap:1rem;}
}