.benefits .mono{background-color:var(--base-200);}
.front-circles.one,
.front-circles.three,
.back-circles.one,
.back-circles.three {
    will-change: transform;
}

.benefits__pill-img {
    will-change: transform;
}
.benefits{
    height: 100svh;
    padding:2rem 0;
    background-color: var(--base-0);
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
}
.benefits__container{
    display: flex;
    gap:1.5rem;
    align-items: center;
}
.benefits__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:.875rem;
}
.benefits__visual{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.2rem;
    contain:layout paint;
}
.benefits__visual-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back-circles, .front-circles{
    position:relative;
    width: 230px;
    height: 88px;
    border: 1px dashed #000;
    border-radius: 50%;
    z-index: 100;
    /* transform: translateX(-80px); */
}
.back-circles{
    clip-path: inset(0 0 50% 0);
    z-index: -10;
} 
.front-circles{
    clip-path: inset(50% 0 0 0);
    position:absolute;
}

.benefits-mono{display: flex;}
.benefits-mono .mono{position: absolute;}
.mono.two{position: relative;z-index: 2;}

.benefits__pill-img{
    height: 160px;
    width:80px;
    position: absolute;
    transform: translateX(5px);
}
@media (max-width:1000px) {
    .benefits{height:160svh;}
    .benefits__container{flex-direction: column;}
    .benefits__container{flex-direction: column;position: sticky; top:2rem;height: fit-content;min-height: calc(100svh - 4rem);justify-content: space-between;}
    .benefits__content{flex:0;}
    .benefits__visual{scale:.8;}
}